# Virtual environment
.venv/

# Python cache
__pycache__/
*.pyc

# Mac files
.DS_Store

# Large raw data
data/raw/*.csv
data/processed/*.csv

# Generated outputs
outputs/

# VS Code settings
.vscode/

# Logs
*.log

.venv/
__pycache__/
data/raw/
